* {
  box-sizing: border-box;
}

/*** Basic Elements ***/

.wrapper {
  position: relative;
  overflow: hidden;
}

.section-grey {
  background-color: #F5F4F4;
  color: #000000;
}

body{
  background-color: #000000;
  color: #FFFFFF;
}
body#page1{
  background-color: #1D1B1B;
}

.header {
  font-family:'Open Sans', sans-serif;
}
.wrapper1{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.section-navbar li {
  display: inline;
  margin-right:40px;
}
.section-navbar ul {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top:5%;
}

.index-section-navbar li {
  display: inline;
  width: 33%;
  margin-right:33px;
}

.index-section-navbar ul {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top:5%;
}


.logo {
  padding-left:60px;
  padding-top: 20px;
}

.charlogo {
  padding-left: 60px;
  padding-top: 20px;
}

.navbar2 {
  background-color: #1D1B1B;
}

/*** Typograpghy ***/

h1 {
  font-family:'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
  margin-top: 2%;
  line-height: normal;
}

.intro-inner h2 {
  font-family:'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: normal;
  padding-top: 30px;
}

.intro-inner p {
  font-size: 20px;
  text-align: center;
  line-height: normal;
  padding-top: 25px;
}

.greeting {
  text-align: center;
  font-weight: normal;
}
.welcome h2 {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 60px;
  line-height: normal;
}

.welcome-text span {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  padding-left: 8px;
}
.ending, .contact-title {
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.process-heading {
  font-family:'Playfair Display', serif;
  font-size: 30px;
}

.contact-content{
  text-align: center;
}

p {
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
}

ul a {
text-decoration: none;
color:#FFFFFF;
font-size: 14px;
}

.item {
  font-size: 14px;
}
.item:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/*** Casestudy elements ***/

.section-text {
  text-align: center;
  position: relative;
}
.sections {
    display: flex;
    justify-content: center;
    height: 500px;
    line-height: normal;
  }

.section-text ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  list-style-type: none;
  letter-spacing: -0.034em;
  margin-bottom: 10px;
}

.section-titles{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-decoration: line-through;
  letter-spacing: -0.03em;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
  padding-top: 20px;
}

.section-headers {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size:40px;
  text-align: center;
  position: relative;
}

.section-subheaders {
  padding-top: 35px;
  text-align: center;
}


.inner-section {
  padding-top: 60px;
}



.summary-section {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: auto;
  padding-top: 40px;
  display: block;
  line-height: normal;
  height: 400px;
  width: 800px;
}

.summary-section p {
  padding-top: 20px;
}


.problem-solution-challenge {
  height: 1050px;
}

 .section-body p{
  width: 500px;
  text-align: center;
  margin:0 auto;
}

.content-section {
  font-family: "Open Sans", sans-serif;
  font-size:16px;
  display: block;
  text-align: center;
  line-height: normal;
  margin: auto;
}

.content-section, .three-section, h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}
.section-subtitle  {
  font-weight: bold;
}

.three-section {
  margin-left: 18%;
 line-height: normal;
  width: 900px;
}

.three-section i {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.three-section p {
  text-align: center;
  padding-top: 50px;
}


.challenge-section ul {
  -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.alt--white {
  background-color: #FFFFFF;
  color: #000000;
}

.research-discovery p {
  padding-top: 20px;
  line-height: normal;
}

.research-discovery {
  height: 600px;
}

.discovery {
padding-top: 70px;
}
.discovery h3 {
  padding-top: 30px;
}

.magnify {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: auto;
  display: block;
  line-height: normal;
}

.survey-section-body {
  height:745px;
  width:1439px;
}

.survey-content p {
  font-family: "Open Sans", sans-serif;
  font-size:20px;
  text-align: center;
  line-height: normal;
}

.survey-content strong {
  font-weight: bold;
  font-size: 30px;
}

.survey-content ul {
  padding-top: 223px;
  padding-left: 60px;
  -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.survey-content li {
  width:273px;
  height:239px;
}

.profile-personas header {
  padding-top: 60px;
}

.profile-personas, .section-body p {
  padding-top: 20px;
  line-height: normal;

}

.profiles {
  height:985px;
  padding-top: 180px;
  padding-bottom: 79px;
  padding-right: 75px;
  display:flex;
  width: 100%;

}

.profile-avatar {
  margin-bottom: 70px;
    max-width: 150px;
  margin: 0 auto 10px;
}

.profile {
  position: relative;
  padding: 0 50px;
  color: #000;
}

.profile-heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 19px;
  text-align: center;
}

.profile-position{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  line-height:1.65;
}

.profile-name {
  font-family: "Open Sans", sans-serif;
  font-size:30px;
  font-weight:200;
  line-height: normal;
}
.profile-body h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.034em;
  margin-bottom: 7px;
  line-height: 1;
  text-align: center;
  margin-top: 28px;
}

.profile-body {
  line-height:normal;
  margin-bottom: 0;
  text-align: left;
  height:616px;
  width:163;
}

.conclusion {
  height:250px;
  width: 1440px;
}

.conclusion p {
  text-align: left;
  width:916.24px;
  height: 155px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: normal;
  margin: 0 auto;
  padding-top: 40px;
}

.competitive-analysis-content {
  display: block;
  height:956px;
}

.competitive-analysis-content h4 {
  padding-top: 20px;
}

.side-images-section {
  padding-left: 220px;
  padding-top: 180px;
  width: 250px;
}

.competitve-section {
width: 500px;
height: 500px;
position: relative;
bottom: 20px;
margin: auto;
top:-500px;
left:18%;
}

.competitve-text {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-size: 20px;
}

.section-sentence {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.information {
  height: 1685px;
}

.information-body header {
  padding-top: 30px;
  }

.information-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: auto;
  display: block;
  line-height: normal;
  padding-top: 20px;
}

.book {
padding-top: 100px;
margin: auto;
}

.book h4 {
  padding-top: 15px;
}

.flows {
  margin: 0 auto;
  padding-left: 300px;
  padding-top: 200px;
}

.branding-body {
  height: 1440px;
}

.branding-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: auto;
  display: block;
  line-height: normal;
  padding-top: 20px;
  height: 200px;
  width: 800px;
}

.branding-body h3 {
  padding-top: 15px;
}

.branding-body header {
  padding-top: 50px;
}

.section-content{
   padding-top: 100px;
  margin-left: 125px;
}

.wireframe-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: auto;
  display: block;
  line-height: normal;
  height: 200px;
  width: 800px;
}

.wireframe-body h4 {
  padding-top: 15px;
}

.prototypes {
  width: 1440px;
  height: 1009px;
}
.protoype-image {
  padding-top: 150px;
 margin-left: 50px;
}

.interactive-visual-design {
  height: 2450px;
}

.header-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: auto;
  text-align: center;
  display: block;
  line-height: normal;
  padding-top: 25px;
  width: 800px;
  height: 200px;
}

.interactive-visual-design header {
  padding-top: 50px;
}

.hi-fi {
  padding-top: 80px;
}

.side-images {
  margin-left: 50px;
}

.dashboard-body {
  width: 500px;
  position: relative;
  bottom: 20px;
  left:58%;
  top:-450px;
}

.dashboard-body h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.dashboard-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: normal;
  padding-top: 25px;
}

.usability-testing {
  height: 1048px;
}

.inner-shell-images {
  margin-left: 235px;
  padding-top: 80px;
}

.inner-usability-shell {
  height: 560px;
}

.usability-shell header {
  padding-top: 100px;
}

.usability-shell h4 {
  padding-top:20px;
}

.conclusion-content header {
  text-align: center;
  padding-top:20px;
}

.conclusion-btn{
  padding-bottom:30px;
}

.conclusion-content h4 {
  padding-top: 20px;
}

.conclusion2 {
  height:1570px;
}

.conclusion-header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-top: 70px;
}

.conclusion-end p {
  width: 600px;
  padding-top: 60px;
  font-size: 20px;
  font font-family:'Open Sans', sans-serif;
  line-height: normal;
}


.conclusion-end p {
  width: 500px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: normal;
  margin:0 auto;

}

.conclusion-content,.rrrrr  {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-top: 60px;
}

.colums, .case {
  padding-top: 80px;
}


.mid-section p {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
}

.first-section {
  padding-right: 50px;
}

.third-section {
  padding-left: 50px;
}

/*** About Me ***/

.about-me {
    min-height: 100vh;
    display: flex;
    width: 1300px;
}

.aboutme-section {
  width:700px;
  font-weight: 100;
  padding-top: 70px;
  padding-left: 95px;
  line-height: normal;
}



.aboutme-section h1 {
  text-align: left;
  padding-bottom:20px;
  padding-top: 10px;
}

.aboutme-section b {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
}

.about-me-pic img {
  width:500px;
  height: 400px;
}

.about-me-pic {
position: absolute;
  top:33%;
  left: 58%;
}

.interest p {
  padding-top: 5px;
  width:500px;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  line-height: normal;
}


/*** Hero Image ***/

@-webkit-keyframes fadeIn {from {
  opacity:0;} to { opacity:1;} }
@-moz-keyframes fadeIn { from {
  opacity:0} to { opacity:1; } }
@keyframes fadeIn { from{ opacity:0;}
to {opacity:1; } }

.fade-in {
opacity:0;
 -webkit-animation:fadeIn ease-in 1;
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

.fade-in {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.laptop {
  position: relative;
  text-align: center;
}

.box p {
  font-family:'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom:0;
  left:51%;
  transform: translate(-50%, -50%);
}


.fa-arrow {
  position:absolute;
  text-align: center;
  bottom:-5%;
  left:50%
}

.fa {
  color: white;
}

.box{
  display: block;
  width: 994px;
  height: 494px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom:40px;
}

/*** RainDrops Project Intro ***/

.biglaptop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:80px;
}

.intro-inner a {
  position: absolute;
    left: 43%;
}

.raindropheadline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:20px;
  margin-top:0;
}

.projectraindrop {
  padding-bottom: 10%;
}

.section-pine {
  background-color: #01796F;
  width: 1440px;
  height: 422px;
}

.container-raindrops {
  margin-top: 120px;
  margin-bottom: 120px;
}


.content-case-study{
  align-items: center;
  display: flex;
}

.text-area {
  padding-left: 350px;
  margin-top: 80px;
  line-height: 1.2em;
}

.case-study-image {
  right: 30px;
  margin-left:120px;
  margin-top: 100px;
}

.btn-blue {
  color: #FFFFFF;
  background: #3C70AD;
}

.btn {
  vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 40px;
    margin-top: 20px;
    -webkit-appearance: none;
}

.intro-black {
  background-color: #1D1B1B;
}

/*** Process Center ***/


#process {
  text-align: center;
  position: relative;
  padding-top: 12%;
  padding-bottom: 3%;
}

.process-heading {
  position: absolute;
  bottom: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*** Footer ***/


hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #a3a6a3;
  width: 1200px;
  text-align: center;
}

footer {
padding-top: 8%;
padding-bottom: 20px;

}
.contact-title {
 padding-top: 50px;
}

.container-footer {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin:auto;

}

.connect {
 font-size: 25px;
 padding-bottom:50px;
 margin-top: -30px;
}

.contact-content {
  font-size: 18px;
  padding-bottom:70px;
  margin-top: -15px;
  line-height: normal;
}

.socialicons {
  padding-left: 50px;
}

.socialicons li {
  display: inline;
  margin-right: 30px;
}

.socialicons ul {
  text-align: center;
  position: relative;
  bottom:40px;
}

.ending {
  font-size: 20px;
  padding-bottom:20px;
  margin-top: -5px;
}
.copyright {
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}


/*** Tablet Media Queries ***/

/* Home Page */

@media screen and (max-width:1370px){
  .section-navbar ul  {
    display:block;margin:0 auto;

  }
}

@media screen and (max-width:1024px) {
  .index-section-navbar ul  {
    display: inline;
    margin: 0 auto;
    text-align: center;
    margin-right: 50px;
    padding-top: 70px;
}
  .section-navbar ul  {
    display:block;margin:0 auto;
}
   .logo, .charlogo {
     padding-left: 20px;
  }
  .section-pine {
    background-color: #01796F;
    width: 1024px;
    height: 422px;
  }
.projectraindrop{
  padding-bottom: 0;
  height: 620px;
}
  .text-area {
    position: absolute;
    right:5%;
    margin-top: 40px;
    line-height: 1.2em;
    }
  .case-study-image {
    margin-left:60px;
    margin-top: 100px;
}
  #process {
    text-align: center;
    position: relative;
    padding-top: 30%;
    padding-bottom: 3%;
}
  .process-heading{
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #a3a6a3;
    width: 900px;
    text-align: center;
  }
}

/* About me */

@media screen and (max-width:1024px){
  .about-me {
      min-height: 100vh;
      display: flex;
      width: 1024px;
}
  .aboutme-section h1 {
    font-size: 40px;
  }
  .aboutme-section {
    width:560px;
    font-weight: 100;
    padding-left: 50px;
    padding-top: 70px;
    line-height: normal;
}
  .section-navbar ul  {
    display: inline;
    margin: 0 auto;
    text-align: center;
    margin-right: 50px;
    padding-top: 70px;
}
  .about-me-pic img {
    width:400px;
    height: 300px;
  }

.about-me-pic {
position: absolute;
top:60%;
left: 60%;
}
  .interest p {
    padding-top: 5px;
    width:400px;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    line-height: normal;
  }
}

/* Case Study */

@media screen and (max-width:1024px){
  #page2 {
      min-height: 100vh;
      width: 1024px;
}
  .biglaptop {
      display:block;margin:0 auto;
      height:400px;
      width:700px;
  }
  .three-section {
    margin: 0 auto;
  }
  .survey-section-body {
    width: 1024px;
    height: 575px;
  }
  .survey-content ul {
    padding-top: 223px;
    padding-left: 20px;
  }
  .survey-content li {
    width:173px;
    height:239px;
  }
  .survey-content p {
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    text-align: center;
    line-height: normal;
  }
  .survey-content strong {
      font-weight: bold;
      font-size: 20px;
    }
  .profiles {
    padding-top: 100px;
  }
  .conclusion {
    width:1024px;
    height: 200px;
  }
  .profile-body {
    text-align: center;
  }
  .conclusion p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .side-images-section {
    padding-left: 40px;
  }
  .competitve-section {
    top:-370px;
  }
  .flows {
    padding-left: 60px;
    width: 1024px;
    height: 1000px;
  }
  .branding-body {
    height: 1200px;
  }
  .section-content {
    margin-left: 40px;
  }
  .ideas-branding {
    width: 924px;
    height: 600px;

  }
  .prototypes {
    height: 900px;
    width: 1024px;
  }
  .wireframe-image {
    width: 924px;
    height: 600px;
  }
  .side-images {
    margin-left:20px;
    height: 300px;
  }
  .dashboard-body {
    width: 200px;
    position: relative;
    bottom: 20px;
    left: 66%;
    top: -300px;
    padding-top: 40px;
  }
  .dashboard-body h4 {
    font-size: 30px;
    text-align: center;
  }
  .dashboard-body p {
    font-size: 15px;
    text-align: center;
  }
  .inner-shell-images {
    margin: 0 auto;
    padding-top: 80px;
  }
  .conclusion2 {
  height:1540px;
  }
  .wrapper {
    height: 1000px;
    min-height: 1000px;
}
}

/*** Mobile Media Queries ***/

@media screen and (max-width:400px) {
  .index-section-navbar ul  {
    display: inline;
    margin: 0 auto;
    text-align: center;
    margin-right: 50px;
    padding-top: 70px;
}
  .section-navbar ul  {
    display:block;margin:0 auto;
}
   .logo img {
        height: 80px;
        width: 80px;
        padding-left: 10px;
        display:block;margin:0 120px;
        text-align: center;
        padding-bottom: 20px;
   }
  .wrapper {
    height: 800px;
    min-height: 800px;
    width: 400px;
  }

  .box{
  display: block;
  width: 400px;
  height: 594px;
  margin-left: auto;
  margin-right: auto;
  bottom:40px;
}

  .laptop img{
    text-align: center;
    width: 400px;
    height: 394px;
  }
  .welcome-text {
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    line-height: normal;
    width: 380px;
  }
  .greeting h1 {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .welcome-text span {
    font-size: 20px;
    padding-left: 5px;
  }
  .section-pine {
    background-color: #01796F;
    width: 400px;
    height: 322px;
  }
  .section-case-study {
    width: 400px;
  }
  .projectraindrop{
    padding-bottom: 0;
    height: 322px;
  }
  .process-heading {
    font-size: 25px;
  }
  #process img {
    text-align: center;
    height:260px;
    width: 360px;
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #a3a6a3;
    width: 300px;
    text-align: center;
  }
  .copyright {
    width: 380px;
    text-align: center;
    font-size: 12px;
  }
  .case-study-image {
    display: none;
  }
  .text-area {
    text-align: center;
    padding-left: 50px;
    top: 175%;
  }

  .box p {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom:25%;
    left:51%;
    transform: translate(-50%, -50%);
  }
  .fa-arrow {
    position:absolute;
    text-align: center;
    bottom: 19%;
    left:49%
  }

}
